a {
  display: block;
  text-decoration: none;
  color: white;
  margin-right: 35px;
}
a:hover {
  color: rgb(255,215,0);
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* solid004 */
.button_solid004 a {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #FFF;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #6bb6ff;
    border-radius: 8px;
    border-bottom: solid 5px #1d7fde;
}
.button_solid004 a:hover {
    border-bottom: solid 2px #1d7fde;
    transform: translateY(3px);
}
